# LLM API Keys
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# LangSmith Observability
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="deriv-tech-interview"

# Vector Store
PINECONE_API_KEY=
